[Desktop Entry]
Version=1.0
Type=Application
Name=Cosmic Expansion
Exec=/app/bin/cosmic-expansion.x86_64
#Icon=io.github.chimi70.cosmic-expansion
Icon=/app/share/icons/hicolor/scalable/apps/io.github.chimi70.cosmic-expansion.svg
Terminal=false
Categories=Game;
