[Desktop Entry]
Version=1.0
Type=Application
Name=Cosmic Expansion
#Exec=/app/bin/cosmic-expansion.x86_64
#Exec=godot-runner /app/bin/godot-runner.pck
Exec=/app/bin/godot-runner /app/bin/godot-runner.pck
Icon=io.github.chimi70.cosmic-expansion
Terminal=false
Categories=Game;
